body {
    background: rgb(0, 0, 0);
    font-family: 'Urbanist', sans-serif;
    color:rgb(190, 190, 190);
}

.navbar {
    background-color: rgb(0, 0, 0);
    height: 120px;
}

.container {
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .container {
      overflow-x: hidden;
    }
} 


@media (min-width: 1200px) {
    .nav-btn {
        margin: 125px;
    }
}
.btn {
    height: 40px;
    background-color: none;
    color: #0ab45a;
    margin: 10px;
    border-color: #0ab45a;
    border-width: 2px;
    
    
}

.btn:hover {
    background-color: #0ab45a;
    color: rgb(230, 230, 230);
}
 

.brand {
    margin-left: 125px;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 700;
    color: #0ab45a;
}


.intro h1, .footer h1 {
    font-family: 'Caprasimo', cursive;
    color: rgb(230, 230, 230);
}


img {
    width: 100%;
    height: auto;
    padding: 10px;
}

h2 {
    color: rgb(230, 230, 230);
}

h3 {
    font-size: 1.5rem;
    color: #5ad694;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(190, 190, 190);
}

p {
    text-align: justify;
}

.fa-brands-linkedin {
    height: 50px;
}

.recent {
    font-size: 1.25rem;
}

.footer p {
    color: rgb(190, 190, 190);
}

.about h1, .stack h1 {
    color:rgb(230, 230, 230);
    font-size: 2rem;
}

.about p {
    font-size: 1.25rem;
}

.stack h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.stack img {
    width: 120px;
    height: 70px;
    margin-bottom: 20px;
}

.stack li {
    font-size: 1.25rem;
    list-style-type: none;
    padding: 5px;

}

.web-link {
    text-decoration: underline;
    color: #2d74b5;
}

.social:hover {
    color: #0ab45a;
    text-decoration: none;
}

.subtitle-head {
    color: rgb(190, 190, 190);
    font-size: 1.25rem;
    
}

.note {
    margin-top: 8px;
}

.social-project {
    color:#2d74b5 ;
}

.social-project:hover, .web-link:hover {
    color: rgb(190, 190, 190);
    text-decoration: none;
}

.greeting {
    font-size: 1.5rem;
}