<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hesam - Portfolio</title>

  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/popper"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <link rel="stylesheet" href="/static/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Urbanist&display=swap" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
</head>

<body class="{% block body_class %}{% endblock %}">

      <header>

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
          
          <div class="container-fluid">
              <a href="/" class="brand">Hesam</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                </li>
               
              </ul>
              <ul class="nav navbar-nav navbar-right">                    

                <div class="nav-btn">
                  <div class="nav-group">
                    <a href="/about" class="btn">About Me</a>
                    <!-- <a href="http://127.0.0.1:5000/homepage#recent-projects" class="btn">Projects</a> -->
                    <a href="https://hesamshayegan.onrender.com/homepage#recent-projects" class="btn">Projects</a>
                    <a href="https://drive.google.com/file/d/1lejvZ7TcjRUkpM_4cw6RvzHARubYL8kB/view?usp=drive_link" target="_blank" class="btn">Resume</a>
                  </div>
                </div> 
              </ul>
  
            </div>
          </div>
        </nav>
        
    </header>      

    <div class="{% block container_class %}container{% endblock %}">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}


      {% block content %}

      {% endblock %}

    </div>


    <section class="footer">
      <footer class="text-white text-center text-md-start">
        <!-- Grid container -->
        <div class="container p-4">
          <!--Grid row-->
          <div class="row">
            <hr>
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              
                
                    
                  
            </div>
            <!--Grid column-->
            <!-- <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <p>
                  
                </p>
              
            </div> -->
            
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <p>
                
              </p>
            </div> 
            
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h1 class="name p-2">Hesam P.Shayegan</h1>

                <div class="d-flex justify-content-center">
                  <a href="https://www.linkedin.com/in/hesam-shayegan/?locale=en_US" class="social p-2">
                    <i class="fa-brands fa-linkedin fa-xl"></i>
                  </a>
                
                  <a href="https://github.com/hesamshayegan" class="social p-2">
                    <i class="fa-brands fa-github fa-xl"></i>
                  </a>

                  <a href="mailto:hesamshayegan88@gmail.com" class="social p-2">
                    <i class="fa-solid fa-envelope fa-xl"></i>
                  </a>
                </div>
            </div>  
            
        
          </div>
          
        </div>
        
    
        
        <div class="p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          <p class="text-center"> © 2023 - all rights reserved </p>
        </div>
        
      </footer>
    </section>
    


</body>
</html>