{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}



<div class="intro row p-4">
        <p class="greeting"> HELLO THERE!👋</p>
        <h1 class="col-lg-7 col-md-10 col-sm-12 text-lg-start text-md-center text-sm-center">
            I'm Hesam, a passionate Software Engineer based in San Francisco.
        </h1>
        <p class="subtitle-head" > 
            I enjoy creating advanced, scalable, and efficient web applications using modern technologies.
        </p>
</div>

<div class="row p-4">
    <div class="col-lg-6 col-md-12">
        <a href="https://www.linkedin.com/in/hesam-shayegan/?locale=en_US" class="social p-2">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://github.com/hesamshayegan" class="social p-2">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="mailto:hesamshayegan88@gmail.com" class="social p-2">
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </a>
        

    </div>
</div>

<p class="recent p-4" id="recent-projects"> | RECENT PROJECTS </p2>

<div class="row p-4">

    <div class="col-lg-6 col-md-12">
        <div>
            <h2> WarmUp </h2>
            <h3> Project Highlights: </h3>
            <ul>
                <li>Developed a Climate Change Quiz app using React, Node.js, and Express.</li>
                <li>Designed a RESTful API for smooth frontend-backend communication.</li>
                <li>Improved user interaction with a responsive design using Material UI & custom CSS.</li>
            </ul>
        </div>

        <p> Use the following credentials to navigate through the app: </p>
                <ul>
                    <li> username: testuser </li>
                    <li> password: 123456 </li>
                </ul>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> React, Express, Node.js, PostgreSQL, Material UI, Framer Motion, React Vis </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> I built my own API  </p>
        </div>
        
        
            <a class='web-link' href="https://warmup.surge.sh/"> WarmUp Site </a>
            <a href="https://github.com/hesamshayegan/WarmUp" class="social-project">
                <i class="fa-brands fa-github fa-xl p-2"></i>
            </a>
        <div class="note">
            <p>*Please note that the backend server on Render takes a bit of time to load.</p>
        </div>
        
    </div> 

        <div class="col-lg-6 col-md-12">
            <img src="/static/images/warmup.png">
        </div>
        

</div>

<div class="row p-4">
    
    <div class="col-lg-6 col-md-12">
       <img src="/static/images/moviesbox.png">   
    </div>

    <div class="col-lg-6 col-md-12">
        <div> 
            <h2> MoviesBox </h2>
            <h3> Project Highlights: </h3>
            <ul>
                <li>MoviesBox uses an ML algorithm to suggest movies based on user preferences.</li>
                <li>It conducts in-depth searches, minimizing external API calls for faster recommendations.</li>
                <li>Analyzing user's favorites, MoviesBox delivers personalized movie suggestions.</li>
            </ul>

                <p> Use the following credentials to navigate through the app: </p>
                <ul>
                    <li> username: demo </li>
                    <li> password: 123456 </li>
                </ul>
        </div>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> Python, Flask, PostgreSQL, HTML, CSS, Bootstrap  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> The Movie Database (TMDB)  </p>
        </div>

                
        
        <a class='web-link' href="https://moviesbox-1fny.onrender.com"> MoviesBox Site </a>
        <a href="https://github.com/hesamshayegan/MoviesBox" class="social-project">
            <i class="fa-brands fa-github fa-xl p-2"></i>
        </a>
        
        <div class="note">
            <p>*Please note that the backend server on Render takes a bit of time to load.</p>
        </div>        
       
    </div>

</div>

<div class="row p-4">
    
    <div class="col-lg-6 col-md-12">
        <div>
            <h2> Jobly </h2>
            <h3> Project Highlights: </h3>
            <ul>
                <li>Jobly enables user registration, login, job applications, and profile editing.</li>
                <li>Job applicants can filter and explor company profiles and job listings. </li>
            </ul>
        </div>

        <p> You can use the following credentials: </p>
                <ul>
                    <li> username: testuser </li>
                    <li> password: password </li>
                </ul>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> React, Express, Node.js, PostgreSQL, HTML, CSS  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> I built my own API  </p>
        </div>
        
        
            <a class='web-link' href="https://impossible-cats.surge.sh/"> Jobly Site </a>
            <a href="https://github.com/hesamshayegan/Jobly" class="social-project">
                <i class="fa-brands fa-github fa-xl p-2"></i>
            </a>
        
    </div> 

        <div class="col-lg-6 col-md-12">
            <img src="/static/images/jobly.jpg">   
        </div>
     

</div>


<div class="row p-4">

        <div class="col-lg-6 col-md-12">
            <img src="/static/images/jeoparty.PNG">   
        </div>

        <div class="col-lg-6 col-md-12">
            <div> 
                <h2> JeoParty </h2>
                <h3> Project Highlights: </h3>
                    <ul>
                        <li>JeoParty involves a trivia competition where you and a friend answer questions from various categories, aiming to earn points and emerge as the winner.</li>
                    </ul>
            </div>
            
            
            <div class="tech-stack">
                <h3> Tech Stack </h3>
                <p> JavaScript, jQuery, HTML, CSS  </p>
            </div>

            <div class="api">
                <h3> API </h3>
                <p> jService  </p>
            </div>

                <a class='web-link' href="https://jeopartygame.onrender.com/"> JeoParty Site </a>
                <a href="https://github.com/hesamshayegan/JeoParty" class="social-project">
                <i class="fa-brands fa-github fa-xl p-2"></i>
                </a>

        </div>    
            
</div>


<div class="row p-4">

    <div class="col-lg-6 col-md-12">
        <div> 
            <h2> StarWars Challenge </h2>
            <h3>Project Highlights:</h3>
                    <ul>
                        <li>The Star Wars Challenge is an interactive web game where players flip cards to match pairs of iconic Star Wars characters, testing memory skills in an engaging and fun way.</li>
                        
                    </ul>    
        </div>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> Vanilla JavaScript, HTML, CSS  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> - </p>
        </div>
        
        
        
            <a class='web-link' href="https://starwars-challenge.onrender.com/"> StarWars Challenge Site </a>
            <a href="https://github.com/hesamshayegan/StarWars_Challenge" class="social-project">
                <i class="fa-brands fa-github fa-xl p-2"></i>
            </a>
        
        
       
    </div>

    <div class="col-lg-6 col-md-12">
        <img src="/static/images/starwars.jpg">   
     </div>

</div>

     
     


{% endblock %}