{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}



<div class="intro row p-4">
        <p> HELLO THERE! </p>
        <h1 class="col-lg-7 col-md-10 col-sm-12 text-lg-start text-md-center text-sm-center">
            I'm Hesam, a Software Engineer based in San Francisco.
        </h1>
</div>

<div class="row p-4">
    <div class="col-lg-6 col-md-12">
        <a href="https://www.linkedin.com/in/hesam-shayegan/?locale=en_US" class="social p-2">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <a href="https://github.com/hesamshayegan" class="social p-2">
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a href="mailto:hesamshayegan88@gmail.com" class="social p-2">
            <i class="fa-solid fa-envelope fa-2xl"></i>
        </a>
        

    </div>
</div>

<p class="recent p-4" id="recent-projects"> | RECENT PROJECTS </p2>

<div class="row p-4">
    
    <div class="col-lg-6 col-md-12">
       <img src="/static/images/moviesbox.png">   
    </div>

    <div class="col-lg-6 col-md-12">
        <div> 
            <h2> MoviesBox </h2>
            <h3> Goals </h3>
            <ul>
                <li>MoviesBox employs a <b>content-based machine learning algorithm</b> trained on 10,000 movies to offer personalized movie suggestions based on user preferences.</li>
                <li><b>Unlike basic API requests</b>, MoviesBox conducts thorough searches within its internal database, reducing reliance on external API calls for quicker and more efficient recommendations.</li>
                <li>By analyzing users' favorite movies, MoviesBox delivers accurate and appealing suggestions, enhancing the process of discovering new movies with a personalized touch.</li>
            </ul>

                <p> You can use the following credentials: </p>
                <ul>
                    <li> username: demo </li>
                    <li> password: 123456 </li>
                </ul>
        </div>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> Python, Flask, PostgreSQL, HTML, CSS, Bootstrap  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> The Movie Database (TMDB)  </p>
        </div>

                
        
        <a class='web-link' href="http://moviesbox-391505.uw.r.appspot.com/homepage"> MoviesBox Site </a>
        <a href="https://github.com/hesamshayegan/MoviesBox" class="social">
            <i class="fa-brands fa-github fa-xl p-2"></i>
        </a>
        
        
       
    </div>

</div>

<div class="row p-4">
    
    <div class="col-lg-6 col-md-12">
        <div>
            <h2> Jobly </h2>
            <h3> Goals </h3>
            <ul>
                <li>The Jobly platform allows user to register, login, and apply for job positions, and edit their profile. </li>
                <li>Job applicants can filter and explor company profiles and job listings. </li>
            </ul>
        </div>

        <p> You can use the following credentials: </p>
                <ul>
                    <li> username: testuser </li>
                    <li> password: password </li>
                </ul>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> React, Express, Node.js, PostgreSQL, HTML, CSS  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> I built my own API  </p>
        </div>
        
        
            <a class='web-link' href="https://impossible-cats.surge.sh/"> Jobly Site </a>
            <a href="https://github.com/hesamshayegan/Jobly" class="social">
                <i class="fa-brands fa-github fa-xl p-2"></i>
            </a>
        
    </div> 

        <div class="col-lg-6 col-md-12">
            <img src="/static/images/jobly.jpg">   
        </div>
     

</div>


<div class="row p-4">

        <div class="col-lg-6 col-md-12">
            <img src="/static/images/jeoparty.PNG">   
        </div>

        <div class="col-lg-6 col-md-12">
            <div> 
                <h2> JeoParty </h2>
                <h3> Goals </h3>
                    <ul>
                        <li>JeoParty involves a trivia competition where you and a friend answer questions from various categories, aiming to earn points and emerge as the winner.</li>
                    </ul>
            </div>
            
            
            <div class="tech-stack">
                <h3> Tech Stack </h3>
                <p> JavaScript, jQuery, HTML, CSS  </p>
            </div>

            <div class="api">
                <h3> API </h3>
                <p> jService  </p>
            </div>

                <a class='web-link' href="https://jeopartygame.onrender.com/"> JeoParty Site </a>
                <a href="https://github.com/hesamshayegan/JeoParty" class="social">
                <i class="fa-brands fa-github fa-xl p-2"></i>
                </a>

        </div>    
            
</div>


<div class="row p-4">

    <div class="col-lg-6 col-md-12">
        <div> 
            <h2> StarWars Challenge </h2>
            <h3>Goals:</h3>
                    <ul>
                        <li>The Star Wars Challenge is an interactive web game where players flip cards to match pairs of iconic Star Wars characters, testing memory skills in an engaging and fun way.</li>
                        
                    </ul>    
        </div>
        
        <div class="tech-stack">
            <h3> Tech Stack </h3>
            <p> Vanilla JavaScript, HTML, CSS  </p>
        </div>

        <div class="api">
            <h3> API </h3>
            <p> - </p>
        </div>
        
        
        
            <a class='web-link' href="https://starwars-challenge.onrender.com/"> StarWars Challenge Site </a>
            <a href="https://github.com/hesamshayegan/StarWars_Challenge" class="social">
                <i class="fa-brands fa-github fa-xl p-2"></i>
            </a>
        
        
       
    </div>

    <div class="col-lg-6 col-md-12">
        <img src="/static/images/starwars.jpg">   
     </div>

</div>

     
     


{% endblock %}