{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}



<div class="about row p-4">
    <div class="col-lg-5 col-md-12">
        <h1 class="text-center text-md-center text-lg-end"> About Me </h1>
    </div>
    
    <div class="col-lg-7 col-md-12">
    
    <p> Hi, I'm Hesam, and I'm currently transitioning my career into Software Engineering.
        With a background in Civil Engineering and 4 years of experience in design and numerical simulation,
        I bring a solid foundation to my new field. As a member of a successful team, we successfully executed
        cost-effective projects across Europe, showcasing my ability to deliver results. Now, I'm eagerly looking
        forward to leveraging my skills and experience to contribute to the tech industry by creating innovative products
        and making a significant impact in this dynamic field.
    </p>
    </div>

</div>
  
<div class="stack row">
    <div class="col-lg-5 col-md-12">
        <h1 class="text-center text-md-center text-lg-end"> Tech Stack </h1>
    </div>
    
    
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> Programming Languages</h2>        
        <img src="static/images/logos/javascript.svg">
        <img src="static/images/logos/python.svg">
    </div>
    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> Front-End Frameworks <h2>
        <img src="static/images/logos/react.svg">
        <img src="static/images/logos/html5.svg">
        <img src="static/images/logos/css.svg">
        <img src="static/images/logos/jquery.svg">
        <img src="static/images/logos/bootstrap.svg">
    </div>  

    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> Back-End Frameworks <h2>
        <img src="static/images/logos/flask.svg">
        <img src="static/images/logos/nodejs.svg">
        <img src="static/images/logos/express.svg">
        <img src="static/images/logos/postgresql.svg">
    </div>
    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> others <h2>        
        <img src="static/images/logos/git.svg">
        <img src="static/images/logos/jest.svg">
        <img src="static/images/logos/jasmine.svg">
    </div>
</div>
<div class="stack row">
    <div class="col-lg-5 col-md-12">
        <h1 class="text-center text-md-center text-lg-end"> Contact </h1>
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
        <ul>
            <li> <a href="https://www.linkedin.com/in/hesam-shayegan/?locale=en_US" class="linkedin">
                    <i class="fa-brands fa-linkedin fa-xl p-4" style="color: #c3c3c3"></i>
                </a> 
                linkedin.com/in/hesam-shayegan
            </li>

            <li> <a href="https://github.com/hesamshayegan" class="git">
                    <i class="fa-brands fa-github fa-xl p-4" style="color: #c3c3c3"></i>
                 </a>
                github.com/hesamshayegan
            </li>

            <li> <a href="mailto:hesamshayegan88@gmail.com" class="mail">
                     <i class="fa-solid fa-envelope fa-xl p-4" style="color: #c3c3c3"></i>
                 </a>
                hesamshayegan88@gmail.com
            </li>
            

        </ul>

        
    </div>
</div>
    <p> 
    </p>
    </div>


{% endblock %}