{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}



<div class="about row p-4">
    <div class="col-lg-5 col-md-12">

        <img src="/static/images/hesam-pic.jpeg" alt="Hesam's Picture" style="border-radius: 30px;">

    </div>
    
    <div class="col-lg-7 col-md-12">
        <h1 class="text-center text-md-center text-lg-start"> About Me </h1>
        <p>
            Hello! I'm Hesam, a Software Engineer who enjoys solving problems and coming up with new ideas.
            With expertise in JavaScript, React, Python, Flask, and PostgreSQL, I develop intuitive and user-friendly applications.
        </p>
        <p>
            Before transitioning to software engineering, I spent four years as a Civil Engineer, gaining valuable experience 
            in engineering design and project management. I bring my adaptability, analytical mindset, and strong communication skills
            to my work as a Software Engineer.    
        </p>
        <p>
            When not coding, I enjoy trying out new recipes, attending stand-up comedy performances and exploring the great outdoors.
        </p>
        <p>
            Let's collaborate and make an impact together as I continue my journey as a Software Engineer!
        </p>
    </div>

</div>
  
<div class="stack row">
    <div class="col-lg-5 col-md-12">
        
    </div>
    
    
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
        <h1 class="text-center text-md-center text-lg-start"> Tech Stack </h1>
        <h2> Programming Languages</h2>        
            <img src="static/images/logos/javascript.svg">
            <img src="static/images/logos/python.svg">
    </div>
    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> Front-End Frameworks <h2>
        <img src="static/images/logos/react.svg">
        <img src="static/images/logos/html5.svg">
        <img src="static/images/logos/css.svg">
        <img src="static/images/logos/jquery.svg">
        <img src="static/images/logos/bootstrap.svg">
    </div>  

    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> Back-End Frameworks <h2>
        <img src="static/images/logos/flask.svg">
        <img src="static/images/logos/nodejs.svg">
        <img src="static/images/logos/express.svg">
        <img src="static/images/logos/django.svg">
        <img src="static/images/logos/postgresql.svg">
    </div>
    <div class="col-lg-5 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
    <h2> others <h2>        
        <img src="static/images/logos/git.svg">
        <img src="static/images/logos/jest.svg">
        <img src="static/images/logos/jasmine.svg">
    </div>
</div>
<div class="stack row">
    <div class="col-lg-5 col-md-12">
        <h1 class="text-center text-md-center text-lg-end"> Contact </h1>
    </div>
    <div class="col-lg-6 col-md-12 text-center text-md-center text-lg-start">
        <ul>
            <li> <a href="https://www.linkedin.com/in/hesam-shayegan/?locale=en_US" class="social">
                    <i class="fa-brands fa-linkedin fa-xl p-4"></i>
                    linkedin.com/in/hesam-shayegan
                </a> 
                
            </li>

            <li> <a href="https://github.com/hesamshayegan" class="social">
                    <i class="fa-brands fa-github fa-xl p-4"></i>
                    github.com/hesamshayegan
                 </a>
                
            </li>

            <li> <a href="mailto:hesamshayegan88@gmail.com" class="social">
                     <i class="fa-solid fa-envelope fa-xl p-4"></i>
                     hesamshayegan88@gmail.com
                 </a>
                
            </li>
            

        </ul>

        
    </div>
</div>
    <p> 
    </p>
    </div>


{% endblock %}